@model UserProjectsBacked
@{
    ViewData["Title"] = "UserPersonalInfo";
}
<link rel="stylesheet" type="text/css" href="mycss.css">

<link rel="stylesheet" type="text/css" href="~/css/mycss.css">
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile-tab-area" role="tab" aria-controls="profile-tab-area" aria-selected="false">
            Profile Page
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="myprojects-tab" data-toggle="tab" href="#myprojects-tab-area" role="tab" aria-controls="myprojects-area" aria-selected="false">MyProjects</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#fundedprojects-tab-area" role="tab" aria-controls="fundedprojects-area" aria-selected="false">Funded Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#updateprofile-tab-area" role="tab" aria-controls="deleteprofile-area" aria-selected="false">Update Profile</a>
    </li>
</ul>
<!-- Tab area -->
<div class="tab-content" id="myTabContent">
    <br />
    <div class="tab-pane fade show active" id="profile-tab-area" style="margin-bottom:10px" role="tabpanel" aria-labelledby="Profile">
        <div class="wrapper">
            <div class="left" style="background-color:brown">
                <img src="~/css/user.png" style="border-radius:2px" alt="user" width="100">
                <h4>@Model.User.UserName</h4>
                <div class="data">
                    <h4 style="color:black">Account Created</h4>
                    <p>@Model.User.UserCreated</p>
                </div>
            </div>
            <div class="right">
                <div class="info">
                    <h3>Information</h3>
                    <div class="info_data" style="justify-content:center">
                        <div class="data">
                            <h4><i class="fa fa-envelope icon" style="color:black"></i></h4>
                            <p>@Model.User.Email</p>
                        </div>
                    </div>
                </div>

                <div class="projects">
                    <h3>Projects</h3>
                    <div class="projects_data">
                        <div class="data">
                            <h4>Projects Created</h4>
                            <p style="font-weight:bold">@Model.User.Projects.Count()</p>
                        </div>
                        <div class="data">
                            <h4>Projects Funded</h4>
                            <p>@Model.ProjectsBacked.Count()</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--My Projects Tab area-->
    <div class="tab-pane fade" id="myprojects-tab-area" role="tabpanel" aria-labelledby="My projects">

        @if (Model.User.Projects.Count() == 0)
        {
            <div class="jumbotron">
                <h4 class="display-4" style="font-weight:bold"> There are no created projects </h4>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg js-no-funded-button" href="@Url.Action("createproject","home")" role="button">Lets Create one.</a>
            </div>

        }
        <div class="container-fluid">
            <div class="row">
                @foreach (var p in Model.User.Projects)
                {
                    <div class="card general-card-css mx-auto">
                        <img src="@p.Media.First().MediaLink" class="card-img-top general-css" alt="Not Found">
                        <div class="card-body general-css">
                            <div class="fix-the-bot-of-card">
                                <h6 class="card-title  general-css">@p.Title</h6>
                            </div>
                            <div class="fix-the-bot-card">
                                <p class="card-text general-css">@p.Deadline.ToString("dd/MM/yyyy")</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar general-css" role="progressbar" aria-valuenow="@((int) (p.CurrentFund/p.TotalFund * 100))%"
                                     aria-valuemin="0" aria-valuemax="100" style="width: @(p.CurrentFund/p.TotalFund * 100)%;">
                                    @((int) (p.CurrentFund/p.TotalFund * 100))%
                                </div>
                            </div>
                            <a href="@Url.Action("ProjectInfo","Project",new { projectId = p.ProjectId })" type="button" class="btn btn-primary">See more</a>
                        </div>
                    </div>
                }
            </div>
            <br><br>
        </div>
    </div>

    <!--My Funded Projects-->
    <div class="tab-pane fade" id="fundedprojects-tab-area" role="tabpanel" aria-labelledby="Funded Projects">

        @if (Model.ProjectsBacked.Count() == 0)
        {
            <div class="jumbotron">
                <h4 class="display-4" style="font-weight:bold"> There are no funded projects </h4>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg js-no-funded-button" href="@Url.Action("index","home")" role="button">Lets find.</a>
            </div>

        }
        <div class="container-fluid bg-3 text-center">
            <div class="row">
                @foreach (var p in Model.ProjectsBacked)
                {
                    <div class="card general-card-css mx-auto">
                        <img src="@p.Media.First().MediaLink" class="card-img-top general-css" alt="Not Found">
                        <div class="card-body general-css">
                            <div class="fix-the-bot-of-card">
                                <h6 class="card-title  general-css">@p.Title</h6>
                            </div>
                            <div class="fix-the-bot-card">
                                <p class="card-text general-css">@p.Deadline.ToString("dd/MM/yyyy")</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar general-css" role="progressbar" aria-valuenow="@((int) (p.CurrentFund/p.TotalFund * 100))%"
                                     aria-valuemin="0" aria-valuemax="100" style="width: @(p.CurrentFund/p.TotalFund * 100)%;">
                                    @((int) (p.CurrentFund/p.TotalFund * 100))%
                                </div>
                            </div>
                            <a href="@Url.Action("ProjectInfo","Project",new { projectId = p.ProjectId })" type="button" class="btn btn-primary">See more</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!--Update Profile area-->
    <div class="tab-pane fade" id="updateprofile-tab-area" role="tabpanel" aria-labelledby="Update Profile">
        <form id="profile-form" class="profile page js-update-user-form" method="post">
            <br />
            <div class="form-group">

                <input type="text" name="UserId" placeholder="" size="10"
                       class="form-control" style="display:none" readonly value="@Model.User.UserId">

            </div>
            <div class="d-flex justify-content-center">
                <div class="form-group js-update-user-form">
                    <label for="UserName">UserName</label>
                    <input name="UserName" placeholder="Enter Username"
                           class="form-control js-update-username" value="@Model.User.UserName" size="10"
                           data-val="true" data-val-required
                           data-val-length="Please enter up to 10 characters" data-val-length-max="10">
                    @Html.ValidationMessage("UserName")
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input name="Email" placeholder="Enter your email" class="form-control js-update-email" value="@Model.User.Email"
                           data-val="true" data-val-required
                           data-val-regex="Please enter a valid email" data-val-regex-pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,}$" />
                    @Html.ValidationMessage("Email")
                </div>
            </div>
            <button type="submit" class="btn btn-primary js-update-profile-btn">Update Profile</button>

            <div class="alert alert-success js-update-success" style="display:none" role="alert">
                Your Profile has been updated
            </div>

            <div class="alert alert-danger js-update-failed" style="display:none" role="alert">
            </div>
        </form>
    </div>
</div>


@*<script>src="https://kit.fontawesome.com/b99e675b6e.js"</script>*@

@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@




@section Scripts {
    <script src="~/js/UserPersonalInfo.js" asp-append-version="true"></script>
}


