@model UserProjectsBacked
@{
    ViewData["Title"] = "UserPersonalInfo";
}
    <link rel="stylesheet" type="text/css" href="mycss.css">
<script>src="https://kit.fontawesome.com/b99e675b6e.js"</script>
<style>
    /*img {
        width: 80px;
        height: 80px;
    }*/

    
    /*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    h2 {
        font: Rockwell;
    }

    .personal-myprojects {
        text-align: center;
        font-size: 25px;
        color: darkblue
    }

    .flip-card {
        background-color: transparent;
        width: 70%;
        height: 70%;
        border: 1px solid #f1f1f1;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }

    /* This container is needed to position the front and back side */
    .flip-card-inner {
        position: relative;
        width: auto;
        height: auto;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    /* Position the front and back side */
    .flip-card-front, .flip-card-back {
        position: absolute;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }

    /* Style the front side (fallback if image is missing) */
    .flip-card-front {
        background-color: #bbb;
        color: black;
    }

    /* Style the back side */
    .flip-card-back {
        background-color: dodgerblue;
        color: white;
        transform: rotateY(180deg);
    }

    .wrapper {
        margin-right: 5px;
    }

    .col-sm-3 {
        margin-bottom: 25px;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/css/mycss.css">
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile-tab-area" role="tab" aria-controls="profile-tab-area" aria-selected="false">
            Profile Page
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="myprojects-tab" data-toggle="tab" href="#myprojects-tab-area" role="tab" aria-controls="myprojects-area" aria-selected="false">MyProjects</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#fundedprojects-tab-area" role="tab" aria-controls="fundedprojects-area" aria-selected="false">Funded Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#updateprofile-tab-area" role="tab" aria-controls="deleteprofile-area" aria-selected="false">Update Profile</a>
    </li>
</ul>
<!-- Tab area -->
<div class="tab-content" id="myTabContent">
    <br />
    <div class="tab-pane fade show active" id="profile-tab-area" style="margin-bottom:10px" role="tabpanel" aria-labelledby="Profile">
        <div class="wrapper">
            <div class="left">
                <img src="~/css/user.png" style="border-radius:2px" alt="user" width="100">
                <h4>@Model.User.UserName</h4>
                <div class="data">
                    <h4 style="color:black">Account Created</h4>
                    <p>@Model.User.UserCreated</p>
                </div>
            </div>
            <div class="right">
                <div class="info">
                    <h3>Information</h3>
                    <div class="info_data" style="justify-content:center">
                        <div class="data">
                            <h4><i class="fa fa-envelope icon" style="color:black"></i></h4>
                            <p>@Model.User.Email</p>
                        </div>
                    </div>
                </div>

                <div class="projects">
                    <h3>Projects</h3>
                    <div class="projects_data">
                        <div class="data">
                            <h4>Total Projects</h4>
                            <p style="font-weight:bold">@Model.User.Projects.Count()</p>
                        </div>
                        <div class="data">
                            <h4>Funded Projects</h4>
                            <p>@Model.ProjectsBacked.Count()</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!--My Projects Tab area-->
    <div class="tab-pane fade" id="myprojects-tab-area" role="tabpanel" aria-labelledby="My projects">
        <div class="container-fluid bg-3 text-center">
            <div class="row">
                @foreach (var p in Model.User.Projects)
                {

                    <div class="col-sm-3" style="margin-right:90px">
                        <div class="card border-secondary mb-3" style="width: 18rem;">
                            <img src="~/css/nba.jpg" class="card-img-top" alt="...">
                            <div class="card-body" style="background-color:#bdbdbd">
                                <h5 class="card-title" style="color:brown; font-size:15px; font-weight:bold">@p.Title</h5>
                                <p class="card-text" style="color:#b80d57; font-size:15px; font-weight:bold">@p.Deadline</p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@(p.CurrentFund/p.TotalFund * 100)%"
                                         aria-valuemin="0" aria-valuemax="100" style="width:@(p.CurrentFund/p.TotalFund * 100)%; background-color:forestgreen">
                                        @(p.CurrentFund/p.TotalFund * 100)%
                                    </div>
                                </div><br />
                                <a href="@Url.Action("ProjectInfo","Project",new { projectId = p.ProjectId })" type="button" class="btn btn-primary">See more</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <br><br>
        </div>
    </div>

    <!--My Funded Projects-->
    <div class="tab-pane fade" id="fundedprojects-tab-area" role="tabpanel" aria-labelledby="Funded Projects">


        <div class="container-fluid bg-3 text-center">
            <div class="row">
                @foreach (var p in Model.ProjectsBacked)
                {
                    <div class="col-sm-3" style="margin-right:90px">
                        <div class="card" style="width: 18rem;">
                            <img src="~/css/kick2.jpg" class="card-img-top" alt="...">
                            <div class="card-body" style="background-color:#bbbbbb">
                                <h5 class="card-title" style="color:brown; font-size:15px; font-weight:bold">@p.Title</h5>
                                <p class="card-text" style="color:#b80d57; font-size:15px; font-weight:bold">@p.Deadline</p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                         aria-valuemin="0" aria-valuemax="100" style="width:40%; background-color:forestgreen">
                                        40%(Fund)
                                    </div>
                                </div><br />
                                <a href="@Url.Action("ProjectInfo","Project",new { projectId = p.ProjectId })" type="button" class="btn btn-primary">See more</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

<!--Update Profile area-->
    <div class="tab-pane fade" id="updateprofile-tab-area" role="tabpanel" aria-labelledby="Update Profile">
        <form id="profile-form" class="profile page js-update-user-form" method="post">
            <br />
            <div class="form-group">
                <label for="Id">Unique Id</label>
                <input type="text" name="UserId" placeholder="" size="10"
                       class="form-control" readonly value="@Model.User.UserId">
               
            </div>
            <div class="form-group js-update-user-form" >
                <label for="UserName">UserName</label>
                <input name="UserName" placeholder=""
                       class="form-control js-update-username" value="@Model.User.UserName" size="10"
                        data-val="true" data-val-required
                       data-val-length="Please enter up to 10 characters" data-val-length-max="10">
                @Html.ValidationMessage("UserName")
            </div>

            <div class="form-group">
                <label for="Email">Email</label>
                <input name="Email" class="form-control js-update-email" value="@Model.User.Email"
                       data-val="true" data-val-required
                       data-val-regex="Please enter a valid email" data-val-regex-pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,}$" />
                @Html.ValidationMessage("Email")
            </div>
            <button type="submit" class="btn btn-primary js-update-profile-btn">Update Profile</button>

            <div class="alert alert-success js-update-success" style="display:none" role="alert">
                Your Profile has been updated
            </div>

            <div class="alert alert-danger js-update-failed" style="display:none" role="alert">
            </div>
        </form>
    </div>
</div>                                      

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

@section Scripts {
    <script src="~/js/UserPersonalInfo.js" asp-append-version="true"></script>
}


