@model ExploreViewModel
@{
    ViewData["Title"] = "Explore";
}

<h1>Explore @Model.Category's Projects</h1>



<!--Projects card by spyros-->
<div class="container-fluid ">
    <div class="row ">
        @foreach (var p in Model.ProjectList)
        {

            <div class="card general-card-css mx-auto">
                <img src="@p.Media.First().MediaLink" class="card-img-top general-css" alt="Not Found">
                <div class="card-body general-css">
                    <div class="fix-the-bot-of-card">
                        <h6 class="card-title  general-css">@p.Title</h6>
                    </div>
                    <div class="fix-the-bot-card">
                        <p class="card-text general-css">@p.Deadline.ToString("dd/MM/yyyy")</p>
                    </div>
                    <div class="progress">
                        <div class="progress-bar general-css" role="progressbar" aria-valuenow="@((int) (p.CurrentFund/p.TotalFund * 100))%"
                             aria-valuemin="0" aria-valuemax="100" style="width: @(p.CurrentFund/p.TotalFund * 100)%;">
                            @((int) (p.CurrentFund/p.TotalFund * 100))%
                        </div>
                    </div>
                    <a href="@Url.Action("ProjectInfo","Project",new { projectId = p.ProjectId })" type="button" class="btn btn-primary">See more</a>
                </div>
            </div>

        }
    </div>


        <!--Jumbotron for no project found of category-->
        @if ((!Model.ProjectList.Any()))
        {



            <div class="jumbotron">
                <h1 class="display-4">Sorry! there are no projects of <b>@Model.Category</b> category!</h1>
                <p class="lead">Maybe you should consider creating one before you ask me to show you one.</p>
                <hr class="my-4">
                <p>Lets go do so.</p>
                <a class="btn btn-primary btn-lg js-explore-none-button" href="@Url.Action("createproject", "home")" role="button">Create your dream project.</a>
            </div>

        }
    </div>


<br>
<br>

