
@model TrendingRecentProjects


@{
    ViewData["Title"] = "Home Page";
}

<a href="@Url.Action("createproject","home")">
    <div>
        <div class="text-center">

            <p style="text-align: center;
            color: goldenrod;
            font-weight: bold; font-size:25px"> Start your Project</p>
        </div>

        <img src="~/css/fund.png" id="home-image" alt="fund" width="300" height="250">
    </div>
</a>
<br />

<p id="Browsing">Trending Projects</p>


<div class="container-fluid">
    <div class="row">
        @foreach (var p in Model.TrendingProjects)
        {
           
                <div class="card border general-card-css mx-auto">
                    <img src="@p.Media.First().MediaLink" class="card-img-top general-css" alt="Not Found">
                    <div class="card-body-general-css">
                        <h6 class="card-title  general-css">@p.Title</h6>
                        <p class="card-text general-css">@p.Deadline.ToString("dd/MM/yyyy")</p>
                        <div class="progress">
                            <div class="progress-bar general-css" role="progressbar" aria-valuenow="@((int) (p.CurrentFund/p.TotalFund * 100))%"
                                 aria-valuemin="0" aria-valuemax="100" style="width: @(p.CurrentFund/p.TotalFund * 100)%;">
                                @((int) (p.CurrentFund/p.TotalFund * 100))%
                            </div>
                        </div><br />
                        <a href="@Url.Action("ProjectInfo","Project",new { projectId = p.ProjectId })" type="button" class="btn btn-primary">See more</a>
                    </div>
                </div>
           
        }
    </div>
</div>
<hr />
<p id="Browsing">Latest Projects</p>
<div class="container-fluid">
    <div class="row">
        @foreach (var p in Model.LatestProjects)
        {

            <div class="card border general-card-css mx-auto">
                <img src="@p.Media.First().MediaLink" class="card-img-top general-css" alt="Not Found">
                <div class="card-body-general-css">
                    <h6 class="card-title  general-css">@p.Title</h6>
                    <p class="card-text general-css">@p.Deadline.ToString("dd/MM/yyyy")</p>
                    <div class="progress">
                        <div class="progress-bar general-css" role="progressbar" aria-valuenow="@((int) (p.CurrentFund/p.TotalFund * 100))%"
                             aria-valuemin="0" aria-valuemax="100" style="width: @(p.CurrentFund/p.TotalFund * 100)%;">
                            @((int) (p.CurrentFund/p.TotalFund * 100))%
                        </div>
                    </div><br />
                    <a href="@Url.Action("ProjectInfo","Project",new { projectId = p.ProjectId })" type="button" class="btn btn-primary">See more</a>
                </div>
            </div>

        }
    </div>
</div>




