
@model TrendingRecentProjects


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <p style="text-align: center;
            color: goldenrod;
            font-weight: bold; font-size:25px"> Start your Project</p>
</div>

<img src="~/css/fund.png" id="home-image" alt="fund" width="300" height="250">
<br />
@*<br />*@
<!-- Grid row -->
@*<div class="row">


        <div class="col-md-12 d-flex justify-content-center mb-5">

        </div>


    </div>*@
<p id="Browsing">Trending Projects</p>


<div class="container-fluid bg-2 text-center ">
    <div class="row">
        @foreach (var p in Model.TrendingProjects)
        {
            <div class="col col-xl-2" style="margin-right:90px">
                <div class="card-deck" style="width: 12rem;">
                    <img src="~/css/nba.jpg" class="card-img-top" alt="Not Found">
                    <div class="card-body" style="background-color:#bbbbbb">
                        <h6 class="card-title" style="color:brown">@p.Title</h6>
                        <p class="card-text" style="color:#b80d57">@p.Deadline</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                 aria-valuemin="0" aria-valuemax="100" style="@(p.CurrentFund/p.TotalFund * 100)%; background-color:forestgreen">
                                @(p.CurrentFund/p.TotalFund * 100)
                            </div>
                        </div><br />
                        <a href="@Url.Action("ProjectInfo","Project",new { projectId = p.ProjectId })" type="button" class="btn btn-primary">See more</a>
                    </div>
                </div>
            </div>
         }
    </div>
</div>
   



