 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fund your Dreams</title>
    <link rel="icon" href ="~/css/Mikro_icon_16x16.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/mycss.css" />
    <style>
        body{
            text-align:center;
        }
        
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color:#fdb813" ;>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="dropdown">
                        <button style="background-color:#083f88; color:#fdb813" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-fw fa-search"></i>
                            Explore
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @{ foreach (var cat in Enum.GetNames(typeof(Crowdfund.Core.Models.ProjectCategory)))
                                {
                                    <a style="color:#083f88" class="dropdown-item" href="@Url.Action("Explore", "Home", new { category = cat })">@cat</a>
                                }
                            }
                        </div>
                    </li>
                    @*<li class="nav-item js-user-pi" type="button">
            <a class="nav-link text-dark "> Hi User</a>
        </li>*@
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CreateProject">Start a Project</a>
                    </li>
                    <li class="nav-item user-login">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogIn"><i class="fa fa-fw fa-user"></i>Log In</a>
                    </li>

                    <li class="nav-item js-user-logout" type="button">
                        <a class="nav-link text-dark">Log Out</a>
                    </li>
                    @*<li class="form-inline">
                        <input class="form-control mr-sm-2 js-search-bar-text" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-primary my-2 my-sm-0 js-search-bar-go" type="button">Search</button>
                    </li>*@
                    <li class="nav-item user-logo" style="margin-left:240px">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/css/Logo_230x30.png" /></a>
                    </li>
                    <!--Search bar-->
                    <li>
                        <form class="form-inline" method="get" action="/project/searchbytext">
                            <input class="form-control" type="search" name="text" value="" style="float:right" placeholder="Search Projects"><br>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </form>
                    </li>
                    @*<li class="form-inline" >

            <input class="form-control mr-sm-2 js-search-bar-text" id="searchbox" type="search" placeholder="Search" aria-label="Search" style="float:right">


            <button class="btn btn-primary my-2 my-sm-0 js-search-bar-go" href="@Url.Action("SearchProjectsByText","Project",new { projectId = form })"  type="button" >Search</button>
        </li>*@


                </ul>
                <form class="form-inline my-2 my-lg-0 js-user-pi">
                    <a href="#" class="nav-link text-dark " type="button"><i class="fa fa-fw fa-user"></i>Hi User</a>
                </form>
            </div>
        </nav>
        <div>
            <form class="form-inline my-2 my-lg-0" style="margin-left:380px; margin-bottom:25px">
                <input class="form-control mr-sm-2 js-search-bar-text" style="width:500px"  type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0 js-search-bar-go" type="button">Search</button>
            </form>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Crowdfund.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Contact</a>
        </div>
    </footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/layout.js" asp-append-version="true"></script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
