@model SearchByTextViewModel
@{
    ViewData["Title"] = "SearchProjectsByText";
}


@if (!string.IsNullOrWhiteSpace(@Model.Text))
{
    <h1>Projects Matching : @Model.Text</h1>
}
else
{
    <h1>Projects Matching : All Projects </h1>
}



<div class="container-fluid bg-3 text-center">
    <div class="row">




        @foreach (var p in Model.ProjectList)
        {


            <div class="col-sm-3" style="margin-right:90px">
                <div class="card border-secondary mb-3" style="width: 18rem;">
                    <img src="~/css/nba.jpg" class="card-img-top" alt="...">
                    <div class="card-body" style="background-color:#bbbbbb">
                        <h5 class="card-title" style="color:brown">@p.Title</h5>
                        <p class="card-text" style="color:#b80d57">@p.Description.</p>
                        <p class="card-text" style="color:#b80d57">@p.Deadline</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                 aria-valuemin="0" aria-valuemax="100" style="width:40%; background-color:forestgreen">
                                40%(Fund)
                            </div>
                        </div><br />
                        <a href="@Url.Action("ProjectInfo", "Project", new { projectId = p.ProjectId })" type="button" class="btn btn-primary">See more</a>
                    </div>
                </div>
            </div>
        }


        @if (!Model.ProjectList.Any())
        {

            <div class="jumbotron">
                <h1 class="display-4">Sorry no projects found matching your search criteria.</h1>
                <p class="lead">maybe create your own</p>
                <a class="btn btn-primary btn-lg js-explore-none-button" href="@Url.Action("createproject","home")" role="button">Create your dream project.</a>



            </div>

        }
    </div>
    <br><br>
</div>
