@model Crowdfund.Core.Models.StatusUpdate
<h1> @Model.Title</h1>

<form method="post" class="js-update-statusUpdate-form">
    <h2>Update Status Update</h2>
    <br />
    <!-- ProjectId-->
    <div class="form-group row">
        <label for="projectId">Project Id</label>
        <input name="projectId"
               class="js-statusUpdate-statusUpdateId form-control" value="@Model.StatusUpdateId" readonly>
    </div>
    <!-- Title-->
    <div class="form-group row">
        <label for="title">Title</label>
        <input name="title" type="text" value="@Model.Title" placeholder="Enter the title of the status update"
               class="js-statusUpdate-title form-control">
    </div>

    <!-- Description -->
    <div class="form-group row">
        <label for="description">Description</label>
        <textarea class="js-statusUpdate-description form-control" type="text"  placeholder="Enter the description for your status update" rows="5">@Model.Description</textarea>
    </div>


    <button type="button" id=@Model.StatusUpdateId class="btn btn-primary js-update-statusUpdate-button">
        Update Status Update
    </button>

    <a href="@Url.Action("ProjectInfo","Project",new { projectId = Model.ProjectId})" type="button" class="btn btn-primary js-goto-project-button">
        Go to project page
    </a>

    <div class="alert alert-success js-statusUpdate-update-success-alert" role="alert">
    </div>

    <div class="alert alert-danger js-statusUpdate-update-fail-alert" role="alert">
    </div>

</form>

@section Scripts {
    <script src="~/js/UpdateStatusUpdate.js" asp-append-version="true"></script>
}