
@model List<Crowdfund.Core.Models.Reward>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Rewards</h2>
<table class="rewards table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Vat number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <th scope="row">@c.RewardId</th>
                <td>@c.Title</td>
                <td>@c.Description</td>
                <td>@c.Price</td>                
                <td>
                    @*<a class="nav-link" href="@Url.Action("Details", "Customer", new { id = c.CustomerId })">
                        Details
                    </a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
<h5>Total Customers: @Model.Count()</h5>
<br />

@*<h2>Products</h2>
<table class="products table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Products)
        {
            <tr>
                <th scope="row">@p.ProductId</th>
                <td>@p.Name</td>
                <td>@p.Price</td>
            </tr>
        }
    </tbody>
</table>
<h5>Total Products: @Model.Products.Count()</h5>
<br />*@
